In [1]:
library(dplyr)
library(readxl)

# make sure to change the output directory to your own
output_dir <- "../dwc/marino89"
dir.create(output_dir)

# limit number of rows in notebook output
options(repr.matrix.max.rows = 10, repr.matrix.max.cols = 20)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
list.files("../dataset", full.names = "TRUE")

[1] "../dataset/metadata.txt"    "../dataset/samples.xlsx"
[3] "../dataset/seqtab.txt"      "../dataset/sequences.fasta"
[5] "../dataset/taxonomy.txt"

In [3]:
seqtab <- read.table("../dataset/seqtab.txt", sep = "\t", header = TRUE)
seqtab

      asv       EE0493 EE0495
1     asv.1         0     0
2     asv.2        14  2447
3     asv.3         0     0
4     asv.4         0     0
5     asv.5     40587  1857
⋮     ⋮         ⋮      ⋮
16981 asv.16981 0      0
16982 asv.16982 0      0
16983 asv.16983 0      0
16984 asv.16984 0      0
16985 asv.16985 0      0

In [4]:
taxonomy <- read.table("../dataset/taxonomy.txt", sep = "\t", header = TRUE)
taxonomy

      asv       taxonomy
1     asv.1     Eukaryota
2     asv.2     Clausocalanus_furcatus
3     asv.3     Eurotatoria
4     asv.4     Arthropoda
5     asv.5     Eukaryota
⋮     ⋮         ⋮
16981 asv.16981 Metazoa
16982 asv.16982 Metazoa
16983 asv.16983 Metazoa
16984 asv.16984 Eukaryota
16985 asv.16985 Metazoa

In [5]:
samples <- read_excel("../dataset/samples.xlsx")
samples

  name   size event_begin area_name        area_longitude area_latitude
1 EE0493 1450 24/04/2023  Ile esprit       46.22536       9.425180
2 EE0495 1500 02/04/2023  Settlement beach 46.20605       9.400901
  area_uncertainty parent_area_name dna   depth temperature
1 20               Aldabra Atoll     7.23 10    26.3
2 98               Aldabra Atoll    15.83 12    25.1

In [6]:
event <- samples %>%
    select(
        eventID = name,
        materialSampleID = name,
        eventDate = event_begin,
        locality = area_name,
        decimalLongitude = area_longitude,
        decimalLatitude = area_latitude,
        coordinateUncertaintyInMeters = area_uncertainty,
        higherGeography = parent_area_name,
        minimumDepthInMeters = depth,
        maximumDepthInMeters = depth,
        sampleSizeValue = size,
        dna,
        temperature
    ) %>%
    mutate(sampleSizeUnit = "ml")
event

  eventID materialSampleID eventDate  locality         decimalLongitude
1 EE0493  EE0493           24/04/2023 Ile esprit       46.22536
2 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
  decimalLatitude coordinateUncertaintyInMeters higherGeography
1 9.425180        20                            Aldabra Atoll
2 9.400901        98                            Aldabra Atoll
  minimumDepthInMeters maximumDepthInMeters sampleSizeValue dna   temperature
1 10                   10                   1450             7.23 26.3
2 12                   12                   1500            15.83 25.1
  sampleSizeUnit
1 ml
2 ml

In [7]:
library(tidyr)

occurrence <- seqtab %>%
    gather(eventID, organismQuantity, 2:3) %>%
    filter(organismQuantity > 0) %>%
    mutate(
        occurrenceID = paste0(eventID, "_", asv),
        organismQuantityType = "sequence reads"
    )
occurrence

      asv       eventID organismQuantity occurrenceID     organismQuantityType
1     asv.2     EE0493     14            EE0493_asv.2     sequence reads
2     asv.5     EE0493  40587            EE0493_asv.5     sequence reads
3     asv.6     EE0493      7            EE0493_asv.6     sequence reads
4     asv.7     EE0493  29367            EE0493_asv.7     sequence reads
5     asv.8     EE0493  72378            EE0493_asv.8     sequence reads
⋮     ⋮         ⋮       ⋮                ⋮                ⋮
13371 asv.16949 EE0495  1                EE0495_asv.16949 sequence reads
13372 asv.16958 EE0495  1                EE0495_asv.16958 sequence reads
13373 asv.16961 EE0495  1                EE0495_asv.16961 sequence reads
13374 asv.16962 EE0495  1                EE0495_asv.16962 sequence reads
13375 asv.16963 EE0495  2                EE0495_asv.16963 sequence reads

In [8]:
taxonomy <- taxonomy %>%
    select(asv, verbatimIdentification = taxonomy)

In [9]:
occurrence <- occurrence %>%
    left_join(taxonomy, by = "asv")
occurrence

      asv       eventID organismQuantity occurrenceID     organismQuantityType
1     asv.2     EE0493     14            EE0493_asv.2     sequence reads
2     asv.5     EE0493  40587            EE0493_asv.5     sequence reads
3     asv.6     EE0493      7            EE0493_asv.6     sequence reads
4     asv.7     EE0493  29367            EE0493_asv.7     sequence reads
5     asv.8     EE0493  72378            EE0493_asv.8     sequence reads
⋮     ⋮         ⋮       ⋮                ⋮                ⋮
13371 asv.16949 EE0495  1                EE0495_asv.16949 sequence reads
13372 asv.16958 EE0495  1                EE0495_asv.16958 sequence reads
13373 asv.16961 EE0495  1                EE0495_asv.16961 sequence reads
13374 asv.16962 EE0495  1                EE0495_asv.16962 sequence reads
13375 asv.16963 EE0495  2                EE0495_asv.16963 sequence reads
      verbatimIdentification
1     Clausocalanus_furcatus
2     Eukaryota
3     Farranula_gibbula
4     Eukaryota
5     Metazoa
⋮     ⋮
13371 Metazoa
13372 Eukaryota
13373 Eukaryota
13374 Mantoniella_squamata
13375 Metazoa

In [10]:
occurrence <- event %>%
    left_join(occurrence, by = "eventID")
occurrence

      eventID materialSampleID eventDate  locality         decimalLongitude
1     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
2     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
3     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
4     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
5     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
⋮     ⋮       ⋮                ⋮          ⋮                ⋮
13371 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13372 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13373 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13374 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13375 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
      decimalLatitude coordinateUncertaintyInMeters higherGeography
1     9.42518         20                            Aldabra Atoll
2     9.42518         20                            Aldabra Atoll
3     9.42518         20                            Aldabra Atoll
4     9.42518         20                            Aldabra Atoll
5     9.42518         20                            Aldabra Atoll
⋮     ⋮               ⋮                             ⋮
13371 9.400901        98                            Aldabra Atoll
13372 9.400901        98                            Aldabra Atoll
13373 9.400901        98                            Aldabra Atoll
13374 9.400901        98                            Aldabra Atoll
13375 9.400901        98                            Aldabra Atoll
      minimumDepthInMeters maximumDepthInMeters sampleSizeValue dna
1     10                   10                   1450            7.23
2     10                   10                   1450            7.23
3     10                   10                   1450            7.23
4     10                   10                   1450            7.23
5     10                   10                   1450            7.23
⋮     ⋮                    ⋮                    ⋮               ⋮
13371 12                   12                   1500            15.83
13372 12                   12                   1500            15.83
13373 12                   12                   1500            15.83
13374 12                   12                   1500            15.83
13375 12                   12                   1500            15.83
      temperature sampleSizeUnit asv       organismQuantity occurrenceID
1     26.3        ml             asv.2        14            EE0493_asv.2
2     26.3        ml             asv.5     40587            EE0493_asv.5
3     26.3        ml             asv.6         7            EE0493_asv.6
4     26.3        ml             asv.7     29367            EE0493_asv.7
5     26.3        ml             asv.8     72378            EE0493_asv.8
⋮     ⋮           ⋮              ⋮         ⋮                ⋮
13371 25.1        ml             asv.16949 1                EE0495_asv.16949
13372 25.1        ml             asv.16958 1                EE0495_asv.16958
13373 25.1        ml             asv.16961 1                EE0495_asv.16961
13374 25.1        ml             asv.16962 1                EE0495_asv.16962
13375 25.1        ml             asv.16963 2                EE0495_asv.16963
      organismQuantityType verbatimIdentification
1     sequence reads       Clausocalanus_furcatus
2     sequence reads       Eukaryota
3     sequence reads       Farranula_gibbula
4     sequence reads       Eukaryota
5     sequence reads       Metazoa
⋮     ⋮                    ⋮
13371 sequence reads       Metazoa
13372 sequence reads       Eukaryota
13373 sequence reads       Eukaryota
13374 sequence reads       Mantoniella_squamata
13375 sequence reads       Metazoa

In [11]:
occurrence$samplingProtocol <- "https://github.com/BeBOP-OBON/UNESCO_protocol_collection"

In [12]:
taxon_names <- stringr::str_replace(occurrence$verbatimIdentification, "_", " ")

In [13]:
matched <- obistools::match_taxa(taxon_names, ask = FALSE) %>%
    select(scientificName, scientificNameID)

matched

433 names, 0 without matches, 10 with multiple matches

         scientificName         scientificNameID
106      Clausocalanus furcatus urn:lsid:marinespecies.org:taxname:104503
163      NA                     NA
168      Farranula gibbula      urn:lsid:marinespecies.org:taxname:346477
163.1    NA                     NA
265      Metazoa                urn:lsid:marinespecies.org:taxname:1486573
⋮        ⋮                      ⋮
265.1833 Metazoa                urn:lsid:marinespecies.org:taxname:1486573
163.8662 NA                     NA
163.8663 NA                     NA
262.3    Mantoniella squamata   urn:lsid:marinespecies.org:taxname:134563
265.1834 Metazoa                urn:lsid:marinespecies.org:taxname:1486573

In [14]:
occurrence <- bind_cols(occurrence, matched)
occurrence

      eventID materialSampleID eventDate  locality         decimalLongitude
1     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
2     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
3     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
4     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
5     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
⋮     ⋮       ⋮                ⋮          ⋮                ⋮
13371 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13372 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13373 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13374 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13375 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
      decimalLatitude coordinateUncertaintyInMeters higherGeography
1     9.42518         20                            Aldabra Atoll
2     9.42518         20                            Aldabra Atoll
3     9.42518         20                            Aldabra Atoll
4     9.42518         20                            Aldabra Atoll
5     9.42518         20                            Aldabra Atoll
⋮     ⋮               ⋮                             ⋮
13371 9.400901        98                            Aldabra Atoll
13372 9.400901        98                            Aldabra Atoll
13373 9.400901        98                            Aldabra Atoll
13374 9.400901        98                            Aldabra Atoll
13375 9.400901        98                            Aldabra Atoll
      minimumDepthInMeters maximumDepthInMeters ⋯ temperature sampleSizeUnit
1     10                   10                   ⋯ 26.3        ml
2     10                   10                   ⋯ 26.3        ml
3     10                   10                   ⋯ 26.3        ml
4     10                   10                   ⋯ 26.3        ml
5     10                   10                   ⋯ 26.3        ml
⋮     ⋮                    ⋮                    ⋱ ⋮           ⋮
13371 12                   12                   ⋯ 25.1        ml
13372 12                   12                   ⋯ 25.1        ml
13373 12                   12                   ⋯ 25.1        ml
13374 12                   12                   ⋯ 25.1        ml
13375 12                   12                   ⋯ 25.1        ml
      asv       organismQuantity occurrenceID     organismQuantityType
1     asv.2        14            EE0493_asv.2     sequence reads
2     asv.5     40587            EE0493_asv.5     sequence reads
3     asv.6         7            EE0493_asv.6     sequence reads
4     asv.7     29367            EE0493_asv.7     sequence reads
5     asv.8     72378            EE0493_asv.8     sequence reads
⋮     ⋮         ⋮                ⋮                ⋮
13371 asv.16949 1                EE0495_asv.16949 sequence reads
13372 asv.16958 1                EE0495_asv.16958 sequence reads
13373 asv.16961 1                EE0495_asv.16961 sequence reads
13374 asv.16962 1                EE0495_asv.16962 sequence reads
13375 asv.16963 2                EE0495_asv.16963 sequence reads
      verbatimIdentification
1     Clausocalanus_furcatus
2     Eukaryota
3     Farranula_gibbula
4     Eukaryota
5     Metazoa
⋮     ⋮
13371 Metazoa
13372 Eukaryota
13373 Eukaryota
13374 Mantoniella_squamata
13375 Metazoa
      samplingProtocol
1     https://github.com/BeBOP-OBON/UNESCO_protocol_collection
2     https://github.com/BeBOP-OBON/UNESCO_protocol_collection
3     https://github.com/BeBOP-OBON/UNESCO_protocol_collection
4     https://github.com/BeBOP-OBON/UNESCO_protocol_collection
5     https://github.com/BeBOP-OBON/UNESCO_protocol_collection
⋮     ⋮
13371 https://github.com/BeBOP-OBON/UNESCO_protocol_collection
13372 https://github.com/BeBOP-OBON/UNESCO_protocol_collection
13373 https://github.com/BeBOP-OBON/UNESCO_protocol_collection
13374 https://github.com/BeBOP-OBON/UNESCO_protocol_collection
13375 https://github.com/BeBOP-OBON/UNESCO_protocol_collection
      scientificName         scientificNameID
1     Clausocalanus furcatus urn:lsid:marinespecies.org:taxname:104503
2     NA                     NA
3     Farranula gibbula      urn:lsid:marinespecies.org:taxname:346477
4     NA                     NA
5     Metazoa                urn:lsid:marinespecies.org:taxname:1486573
⋮     ⋮                      ⋮
13371 Metazoa                urn:lsid:marinespecies.org:taxname:1486573
13372 NA                     NA
13373 NA                     NA
13374 Mantoniella squamata   urn:lsid:marinespecies.org:taxname:134563
13375 Metazoa                urn:lsid:marinespecies.org:taxname:1486573

In [15]:
non_matches <- occurrence %>%
    filter(is.na(scientificNameID)) %>%
    group_by(verbatimIdentification) %>%
    summarize(n = n()) %>%
    arrange(desc(n))

write.table(non_matches, file = file.path(output_dir, "nonmatches.txt"), sep = "\t", row.names = FALSE, na = "", quote = FALSE)

non_matches

   verbatimIdentification n
1  Eukaryota              8664
2  undef_Eukaryota         447
3                          283
4  undef_Oomycota           30
5  Navicula                  9
⋮  ⋮                      ⋮
23 Lobophora_brown_algae  1
24 Nitzschia_diatoms      1
25 Synchaetomella_acerina 1
26 undef_Gastropoda       1
27 undef_undef_Eukaryota  1

In [16]:
occurrence <- occurrence %>%
    mutate(
        scientificName = case_when(verbatimIdentification %in% c("Eukaryota", "undef_Eukaryota", "") ~ "Incertae sedis", .default = scientificName),
        scientificNameID = case_when(verbatimIdentification %in% c("Eukaryota", "undef_Eukaryota", "") ~ "urn:lsid:marinespecies.org:taxname:12", .default = scientificNameID)
    )

In [17]:
occurrence %>%
    filter(is.na(scientificNameID)) %>%
    group_by(verbatimIdentification) %>%
    summarize(n = n()) %>%
    arrange(desc(n))

   verbatimIdentification     n
1  undef_Oomycota             30
2  Navicula                    9
3  undef_Bacteria_bacteria     7
4  Clathria_genus              5
5  Nitzschia_sp._BOLD:AAO7110  4
⋮  ⋮                          ⋮
20 Lobophora_brown_algae      1
21 Nitzschia_diatoms          1
22 Synchaetomella_acerina     1
23 undef_Gastropoda           1
24 undef_undef_Eukaryota      1

In [18]:

occurrence

      eventID materialSampleID eventDate  locality         decimalLongitude
1     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
2     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
3     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
4     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
5     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
⋮     ⋮       ⋮                ⋮          ⋮                ⋮
13371 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13372 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13373 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13374 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13375 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
      decimalLatitude coordinateUncertaintyInMeters higherGeography
1     9.42518         20                            Aldabra Atoll
2     9.42518         20                            Aldabra Atoll
3     9.42518         20                            Aldabra Atoll
4     9.42518         20                            Aldabra Atoll
5     9.42518         20                            Aldabra Atoll
⋮     ⋮               ⋮                             ⋮
13371 9.400901        98                            Aldabra Atoll
13372 9.400901        98                            Aldabra Atoll
13373 9.400901        98                            Aldabra Atoll
13374 9.400901        98                            Aldabra Atoll
13375 9.400901        98                            Aldabra Atoll
      minimumDepthInMeters maximumDepthInMeters ⋯ temperature sampleSizeUnit
1     10                   10                   ⋯ 26.3        ml
2     10                   10                   ⋯ 26.3        ml
3     10                   10                   ⋯ 26.3        ml
4     10                   10                   ⋯ 26.3        ml
5     10                   10                   ⋯ 26.3        ml
⋮     ⋮                    ⋮                    ⋱ ⋮           ⋮
13371 12                   12                   ⋯ 25.1        ml
13372 12                   12                   ⋯ 25.1        ml
13373 12                   12                   ⋯ 25.1        ml
13374 12                   12                   ⋯ 25.1        ml
13375 12                   12                   ⋯ 25.1        ml
      asv       organismQuantity occurrenceID     organismQuantityType
1     asv.2        14            EE0493_asv.2     sequence reads
2     asv.5     40587            EE0493_asv.5     sequence reads
3     asv.6         7            EE0493_asv.6     sequence reads
4     asv.7     29367            EE0493_asv.7     sequence reads
5     asv.8     72378            EE0493_asv.8     sequence reads
⋮     ⋮         ⋮                ⋮                ⋮
13371 asv.16949 1                EE0495_asv.16949 sequence reads
13372 asv.16958 1                EE0495_asv.16958 sequence reads
13373 asv.16961 1                EE0495_asv.16961 sequence reads
13374 asv.16962 1                EE0495_asv.16962 sequence reads
13375 asv.16963 2                EE0495_asv.16963 sequence reads
      verbatimIdentification
1     Clausocalanus_furcatus
2     Eukaryota
3     Farranula_gibbula
4     Eukaryota
5     Metazoa
⋮     ⋮
13371 Metazoa
13372 Eukaryota
13373 Eukaryota
13374 Mantoniella_squamata
13375 Metazoa
      samplingProtocol
1     https://github.com/BeBOP-OBON/UNESCO_protocol_collection
2     https://github.com/BeBOP-OBON/UNESCO_protocol_collection
3     https://github.com/BeBOP-OBON/UNESCO_protocol_collection
4     https://github.com/BeBOP-OBON/UNESCO_protocol_collection
5     https://github.com/BeBOP-OBON/UNESCO_protocol_collection
⋮     ⋮
13371 https://github.com/BeBOP-OBON/UNESCO_protocol_collection
13372 https://github.com/BeBOP-OBON/UNESCO_protocol_collection
13373 https://github.com/BeBOP-OBON/UNESCO_protocol_collection
13374 https://github.com/BeBOP-OBON/UNESCO_protocol_collection
13375 https://github.com/BeBOP-OBON/UNESCO_protocol_collection
      scientificName         scientificNameID
1     Clausocalanus furcatus urn:lsid:marinespecies.org:taxname:104503
2     Incertae sedis         urn:lsid:marinespecies.org:taxname:12
3     Farranula gibbula      urn:lsid:marinespecies.org:taxname:346477
4     Incertae sedis         urn:lsid:marinespecies.org:taxname:12
5     Metazoa                urn:lsid:marinespecies.org:taxname:1486573
⋮     ⋮                      ⋮
13371 Metazoa                urn:lsid:marinespecies.org:taxname:1486573
13372 Incertae sedis         urn:lsid:marinespecies.org:taxname:12
13373 Incertae sedis         urn:lsid:marinespecies.org:taxname:12
13374 Mantoniella squamata   urn:lsid:marinespecies.org:taxname:134563
13375 Metazoa                urn:lsid:marinespecies.org:taxname:1486573

In [19]:
library(leaflet)

stations <- occurrence %>%
    distinct(locality, decimalLongitude, decimalLatitude)

stations

leaflet() %>%
    addTiles() %>%
    addMarkers(lng = decimalLongitude,lat = decimalLatitude, popup = stations$locality)

  locality         decimalLongitude decimalLatitude
1 Ile esprit       46.22536         9.425180
2 Settlement beach 46.20605         9.400901

ERROR: Error in resolveFormula(lng, data): object 'decimalLongitude' not found

In [ ]:
occurrence <- occurrence %>%
    mutate(decimalLatitude = -decimalLatitude)

stations <- occurrence %>%
    distinct(locality, decimalLongitude, decimalLatitude)
stations

leaflet() %>%
    addTiles() %>%
    addMarkers(lng = decimalLongitude,lat = decimalLatitude, popup = stations$locality)

In [ ]:
obistools::check_eventdate(occurrence)

In [ ]:
library(lubridate)

occurrence <- occurrence %>%
    mutate(eventDate = format_ISO8601(parse_date_time(eventDate, "%d/%m/%Y"), precision = "ymd", usetz = FALSE))

unique(occurrence$eventDate)

In [ ]:
head(occurrence)

In [ ]:
obistools::check_fields(occurrence)

In [ ]:
occurrence <- occurrence %>%
    mutate(
        occurrenceStatus = "present",
        basisOfRecord = "MaterialSample"
    )

In [ ]:
mof_reads <- occurrence %>%
    select(occurrenceID, measurementValue = organismQuantity) %>%
    mutate(
        measurementType = "sequence reads"
    )

mof_samplesize <- occurrence %>%
    select(occurrenceID, measurementValue = sampleSizeValue, measurementUnit = sampleSizeUnit) %>%
    mutate(
        measurementType = "sample size",
        measurementTypeID = "http://vocab.nerc.ac.uk/collection/P01/current/VOLWBSMP/",
        measurementUnit = "ml",
        measurementUnitID = "http://vocab.nerc.ac.uk/collection/P06/current/VVML/"
    )

mof_dna <- occurrence %>%
    select(occurrenceID, measurementValue = dna) %>%
    mutate(
        measurementType = "DNA concentration",
        measurementTypeID = "http://vocab.nerc.ac.uk/collection/P01/current/A260DNAX/",
        measurementUnit = "ng/μl",
        measurementUnitID = "http://vocab.nerc.ac.uk/collection/P06/current/UNUL/"
    )

mof_temperature <- occurrence %>%
    select(occurrenceID, measurementValue = temperature) %>%
    mutate(
        measurementType = "seawater temperature",
        measurementTypeID = "http://vocab.nerc.ac.uk/collection/P01/current/TEMPPR01/",
        measurementUnit = "degrees Celsius",
        measurementUnitID = "http://vocab.nerc.ac.uk/collection/P06/current/UPAA/"
    )

mof <- bind_rows(mof_reads, mof_samplesize, mof_dna)
mof

In [ ]:
library(Biostrings)

fasta_file <- readDNAStringSet("../dataset/sequences.fasta")
fasta <- data.frame(asv = names(fasta_file), DNA_sequence = paste(fasta_file))
fasta

In [ ]:
dna <- occurrence %>%
    select(occurrenceID, asv, concentration = dna) %>%
    left_join(fasta, by = "asv")

dna

In [ ]:
cat(paste0(readLines("../dataset/metadata.txt"), collapse = "\n"))

In [ ]:
dna <- dna %>%
    mutate(
        concentrationUnit = "ng/μl",
        lib_layout = "paired",
        target_gene = "COI",
        pcr_primers = "FWD:GGWACWGGWTGAACWGTWTAYCCYCC;REV:TANACYTCNGGRTGNCCRAARAAYCA",
        seq_meth = "Illumina NovaSeq6000",
        ref_db = "https://github.com/iobis/edna-reference-databases",
        pcr_primer_forward = "GGWACWGGWTGAACWGTWTAYCCYCC",
        pcr_primer_reverse = "TANACYTCNGGRTGNCCRAARAAYCA",
        pcr_primer_name_forward = "mlCOIintF",
        pcr_primer_name_reverse = "dgHCO2198",
        pcr_primer_reference = "doi:10.1186/1742-9994-10-34"
    ) %>%
    select(-asv)

dna

In [ ]:
occurrence <- occurrence %>%
    select(-asv, -dna, -temperature)

write.table(occurrence, file = file.path(output_dir, "occurrence.txt"), sep = "\t", row.names = FALSE, na = "", quote = FALSE)
write.table(mof, file = file.path(output_dir, "measurementorfact.txt"), sep = "\t", row.names = FALSE, na = "", quote = FALSE)
write.table(dna, file = file.path(output_dir, "dnaderiveddata.txt"), sep = "\t", row.names = FALSE, na = "", quote = FALSE)

In [ ]:
library(dwcawriter)

archive <- list(
    eml = '
        
        Dummy Dataset
        
    ',
    core = list(
        name = "occurrence",
        type = "https://rs.gbif.org/core/dwc_occurrence_2022-02-02.xml",
        index = which(names(occurrence) == "occurrenceID"),
        data = occurrence
    ),
    extensions = list(
        list(
            name = "measurementorfact",
            type = "https://rs.gbif.org/extension/obis/extended_measurement_or_fact_2023-08-28.xml",
            index = which(names(mof) == "occurrenceID"),
            data = mof
        ),
        list(
            name = "dnaderiveddata",
            type = "https://rs.gbif.org/extension/gbif/1.0/dna_derived_data_2022-02-23.xml",
            index = which(names(dna) == "occurrenceID"),
            data = dna
        )
    )
)

write_dwca(archive, file.path(output_dir, "archive.zip"))